body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #2980b9;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    flex: 1; /* This will make the main content area expand to push the footer down */
}

h1, h2 {
    color: #2c3e50;
}

.cta-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.cta-button {
    background-color: #2980b9;
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #3498db;
}

.project {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#powerbi-simulation {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    /* Remove position: fixed; and bottom: 0; */
    width: 100%;
    /* The footer will now stay at the bottom without being fixed */
}
